h1{
    color: forestgreen;
    font-size: 50px;
    text-align: center;
}
h2{
    color: #008080FF;
    font-size: 30px;
    text-align: center;
}
p{
    color: rgb(70,130,180);
    font-size: 20px;
    text-align: center;
}